CALICO_NODENAME=calico-node-{{node_ip | regex_replace("\.", "-")}}
CALICO_IP=autodetect
CALICO_IP_AUTODETECTION_METHOD=cidr=192.168.33.0/24
CALICO_NETWORKING_BACKEND=bird
CALICO_IPV4POOL_IPIP=Always
DATASTORE_TYPE=etcdv3
ETCD_ENDPOINTS="http://127.0.0.1:2379"
CALICO_IPV4POOL_CIDR="{{allocation_cidr}}"
LOG_LEVEL=DEBUG