NODENAME=calico-node-{{node_ip | regex_replace("\.", "-")}}
CALICO_IP={{node_ip}}
CALICO_NETWORKING_BACKEND=vxlan
NO_DEFAULT_POOLS=true
DATASTORE_TYPE=etcdv3
ETCD_ENDPOINTS={% for ip in etcd_nodes %}http://{{ip}}:2380{%if not loop.last%},{%endif%}{% endfor %}
CALICO_IPV4POOL_CIDR={{allocation_cidr}}